# Keep folder structure but ignore all files inside INPUT/BOM and OUTPUT/BOM
INPUT/BOM/*
!INPUT/BOM/.gitkeep

OUTPUT/BOM/*
!OUTPUT/BOM/.gitkeep

# Keep folder structure but ignore all files inside INPUT/SCH and OUTPUT/SCH
INPUT/SCH/*
!INPUT/SCH/.gitkeep

OUTPUT/SCH/*
!OUTPUT/SCH/.gitkeep

# Dependencies
node_modules/

# Python
__pycache__/
*.pyc
*.pyo

# Ignore OS files
.DS_Store
Thumbs.db
